# Hugo output
public/
resources/
.hugo_build.lock

# Editor
.vscode/

# Mac default
.DS_Store

# Obsidian
.obsidian/
templates/
home.md
sortspec.md

# Contents
contents/docs/far/student-pilot-limitations
contents/docs/far/preflight-checklist
contents/docs/far/ppl-privileges
contents/docs/far/medical
contents/docs/far/log-flight
contents/docs/far/flight-review
contents/docs/far/etc
contents/docs/far/alcohol-drugs
